# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.suo
*.njsproj
*.sln

# Logs
*.log
logs/

# Env
.env
.env.*
!.env.example

# Node
node_modules/
dist/
dist-ssr/
coverage/

# Build cache
.cache/
.temp/
tmp/
